<div class="col-md-8 offset-md-3">
    <h3> Add Transaction</h3>
    <form (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label>Account ID</label>
            <input type="text" class="form-control" id="accountId" [(ngModel)]="transaction.accountId" name="accountId">
        </div>

        <div class="form-group">
            <label> Transaction Amount</label>
            <input type="text" class="form-control" id="transactionAmount" [(ngModel)]="transaction.transactionAmount"
                name="transactionAmount">
        </div>

        <div class="form-group">
            <label> Transaction Type</label>
            <select name="transactionType" id="transactionType" [(ngModel)]="transaction.transactionType">
                <option value="Deposit"> Deposit</option>
                <option value="Withdraw"> Withdraw</option>
            </select>
        </div>

        <br>
        <button class="btn btn-success" type="submit"> Submit</button>
    </form>
</div>