<h3> View Bank Details</h3>
<div>
    <div>
        <label> <b> Customer Name:</b></label> {{bank.customerName}}
    </div>
    <div>
        <label> <b> Customer Address:</b></label> {{bank.customerAddress}}
    </div>
    <div>
        <label> <b> Customer City:</b></label> {{bank.customerCity}}
    </div>
    <div>
        <label> <b> Customer PhoneNo:</b></label> {{bank.phoneno}}
    </div>
    <div>
        <label> <b> createdDate:</b></label> {{bank.createdDate}}
    </div>
    <div>
        <label> <b> createdBy:</b></label> {{bank.createdBy}}
    </div>
</div>